.Header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-right {
    display: flex;
    align-items: center;
}

.App {
    padding: 0 40px;
}

.Spinner-container {
    display: flex;
    min-height: 300px;
    align-items: center;
    justify-content: center;
}
